<p id="notice"><%= notice %></p>

<p>
  <strong>Vorname:</strong>
  <%= @pupil.vorname %>
</p>

<p>
  <strong>Nachname:</strong>
  <%= @pupil.nachname %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
